<div class="flex w-full flex-row content-between justify-around align-center">
    <div class="flex flex-col">
        <div class="self-start">
            <button type="button"
                    hx-get="{% url 'list-chats' %}"
                    hx-target="#main"
                    hx-trigger="click"
                    hx-push-url="true"
                    hx-swap="innerHTML"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 rotate-180 mb-5">
                <svg class="w-5 h-5"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
                <span class="sr-only">Icon description</span>
            </button>
        </div>
        <div class="format">
            <h1 class="mb-0">{{ chat.title|truncatechars:100 }}</h1>
        </div>
    </div>
    <div class="flex flex-1 w-full items-center justify-end self-start">
        <button type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                hx-post="{% url 'create-chat' %}"
                hx-target="#main"
                hx-trigger="click"
                hx-push-url="true"
                hx-swap="innerHTML"
                hx-push-url="true">
            New chat
            <svg class="w-3.5 h-3.5 ml-2"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
        </button>
    </div>
</div>
